/*h1 style*/
.h1_container {
    position: relative;
    margin: 5% 0 2.5% 0;
    height: 50px;
    width: 250px;
}

.blue_rectangle {
    position: absolute;
    width: clamp(110px, 10vw, 160px);
    height: clamp(30px, 2vw, 30px);
    z-index: 0;
    background: rgba(0, 173, 181, 0.5);
    top: 35%;
    left: 53%;
}

h1 {
    position: absolute;
    z-index: 1;
    font-size: 44px;
}
/***************************/

/* errors */

.errors {
    display: block;
    width: 90%;
    text-align: center;
    font-size: 12px;
    padding: 1px 3px;
    background: rgba(238, 238, 238, 0.9);
    color: #000;
}

/***************************/

/* content */
main{
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

main h2{
    font-family: 'Fornato';
    font-size: 24px;
    z-index: 2;
}

.signup-form{
    width: 90%;
    background: rgba(238, 238, 238, 0.9);
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 30px;
}

.inscription-items{
    display: flex;
    height: 40%;
    width: 90%;
    justify-content: space-between;
}

.label{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.label span{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 14px;
    margin-right: 20px;
}

.input-fields {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.input-fields div span {
    display: inline;
    color: #00ADB5;
}

.input-fields div {
    transform: translateY(5px);
}

.input-fields input{
    height: 30px;
    border: none;
    width: 40%;
    border-bottom: 1px solid #393E46;
    background-color: transparent;
    outline: none;
}

.cgu{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.cgu p{
    width: 100%;
    color: #00ADB5;
}

.cgu div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.cgu div input{
    width: auto;
    transform: translateY(-4px);
    margin-right: 5px;
}


.send-button{
    background-color: #00ADB5;
    padding: 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    text-transform: uppercase;
    margin: 2.5% auto;
    cursor: pointer;
}

.send-button:hover {
    transform:scale(110%)
}


@media screen and (min-width: 768px){
    .inscription-form{
        padding: 50px;
    }

}

@media screen and (min-width: 1024px){
    main{
        height: 1000px;
    }

    main h2{
        font-size: 36px;
    }

    .signup-form{
        margin: 0 auto 5% auto;
        width: 60%;
        height: 80%;
        align-items: flex-start;
    }

    .errors {
        width: 60%;
        padding: 5px 0;
    }


}
